<%- include('header',{title:"SBXG",cssFiles:["news_detail.css"]}) %>
    <div class="cont1">
        <div class="left_box">
            <img src="/upload2/<%- newsResult.attachfile[0] %>">
            <div class="bg_color">
                
            </div>
            <h2>WORK&PRESS</h2>
            <div class="textWrap">
                <div class="dateWrap">
                    <span class="press">PRESS</span>
                    <span class="date"><%- newsResult.date %></span>
                </div>
                <h2 class="title"><%- newsResult.title %></h2>
            </div>
            
        </div>
        <div class="right_box">
            <div class="dateWrap">
                <span class="press">PRESS</span>
                <span class="date"><%- newsResult.date %></span>
            </div>
            <h2 class="title"><%- newsResult.title %></h2>
            <div class="prdImg">
                <img src="/upload2/<%- newsResult.attachfile[0] %>">
            </div>
            <p class="newsDetail"><%- newsResult.newsDetail %></p>
        </div>
    </div>
    <div class="btns">
        <div class="prev">
            <%if(newsResult.num === 1){%>
                <a href="/news/detail/1"><i class="fa-solid fa-angles-left"></i>PREV</a>
            <%}else{%>
                <a href="/news/detail/<%- newsResult.num - 1 %>"><i class="fa-solid fa-angles-left"></i>PREV</a>
            <%}%>
        </div>
        <div class="list">
            <a href="">LIST<i class="fa-solid fa-bars"></i></a>
        </div>
        <div class="next">
            <%console.log(newsResult.num); if(newsResult.num === 6){%>
                <a href="/news/detail/6">NEXT<i class="fa-solid fa-angles-right"></i></a>
            <%}else{%>
                <a href="/news/detail/<%- newsResult.num + 1 %>">NEXT<i class="fa-solid fa-angles-right"></i></a>
            <%}%>
        </div>
    </div>
    <%- include("footer") %>
</body>
</html>