<%- include('header',{title:"SBXG",cssFiles:["news_detail.css"]}) %>
    <div class="cont1">
        <div class="left_box">
            <img src="/upload2/<%- newsResult.attachfile[0] %>">
            <div class="bg_color">
                
            </div>
            <h2>WORK&PRESS</h2>
            <div class="textWrap">
                <div class="dateWrap">
                    <span class="press">PRESS</span>
                    <span class="date"><%- newsResult.date %></span>
                </div>
                <h2 class="title"><%- newsResult.title %></h2>
            </div>
            
        </div>
        <div class="right_box">
            <div class="dateWrap">
                <span class="press">PRESS</span>
                <span class="date"><%- newsResult.date %></span>
            </div>
            <h2 class="title"><%- newsResult.title %></h2>
            <div class="prdImg">
                <img src="/upload2/<%- newsResult.attachfile[0] %>">
            </div>
            <div class="detail">
                <div class="titleWrap">
                    <div class="linkWrap">
                        <!-- <% if(login) { %>
                            <% if(login.userNo === 0){ %>
                                <a href="/store/update/<%- newsResult.num %>">수정</a>
                                <a href="/dbdelete/<%- newsResult.num %>">삭제</a>
                            <% } %>
                        <% } %> -->
                    </div>
                </div>
                <p class="newsDetail"><%- newsResult.newsDetail %></p>
            </div>
        </div>
    </div>
    <%- include("footer") %>
</body>
</html>